<p id="notice"><%= notice %></p>

<h1>Applicants</h1>

<table border="1px" padding="0">
  <thead>
    <tr>
      <th>Job</th>
      <th>Name</th>
      <th>Email</th>
      <th>Website</th>
      <th>Skills</th>
      <th>Cover letter Paragraph</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td rowspan="<%= job.skills_count %>" class="job-name"><%= job.name %></td>
        <% job.applicants.each do |applicant| %>
          <td rowspan="<%= applicant.skills.size %>" class="applicant-name"><%= applicant.name %></td>
          <td rowspan="<%= applicant.skills.size %>"><a href="mailto:<%= applicant.email %>"><%= applicant.email %></a></td>
          <td rowspan="<%= applicant.skills.size %>"><%= link_to applicant.website, "http://#{applicant.website}" %></td>
          <td><%= applicant.skills.first.name %></td>
          <td rowspan="<%= applicant.skills.size %>"><%= applicant.cover_letter %></td>
      </tr>
        <% applicant.skills[1..-1].each do |skill| %>
          <tr>
            <td><%= skill.name %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr >
      <td colspan="6"><%= @applicants.size %> Applicants, <%= @skills.size %> Unique Skills</td>
    </tr>
  </tfoot> 
</table>